/* global styles */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

img {
    max-width: 100%;
}

body {
  font-family: "Fira Sans", sans-serif;
  background-color: rgba(241, 241, 243, 1);
}
/* shared styles */

.container {
    margin: auto;
    max-width: 1250px;
}

.btn {
    font-size: 18px;
    font-weight: 600;
    padding: 15px 30px;
    color: #FFFFFF;
    background-color: #006A50;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

.section-heading {
    font-size: 40px;
    font-weight: 700;
}

.card-heading {
    font-size: 20px;
    color: rgba(14, 14, 14, 0.8);
}

.card-description {
    color: rgba(14, 14, 14, 0.7);
}

/* navbar related styles */

nav{
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

nav > h3 {
    font-size: 32px;
}

nav > button {
    font-size: 18px;
    font-weight: 600;
    color: #006A50;
    border: 1px #006A50 solid;
    border-radius: 8px;
    background-color: transparent;
    padding: 15px 30px;
    cursor: pointer;
}


/* banner related styles */

.banner-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #C6E4D6;
    border-radius: 24px;
    min-height: 500px;
    padding: 80px 55px;
    margin-top: 15px;
}

.banner-content {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.banner-content > h3 {
    font-size: 24px;
    color: rgba(14, 14, 14, 0.5);
}

.banner-content > p {
    font-size: 56px;
    font-weight: 700;
}

/* pillar section related styles */

.pillar-section {
    display: flex;
    flex-direction: column;
    gap: 32px;
    margin: 80px auto;
}

.pillar-section > div {
    display: flex;
    justify-content: space-between;
}

.pillar-section > div > div {
    max-width: 300px;
    display: flex;
    flex-direction: column;
    gap: 18px;
    background-color: #FFFFFF;
    border-radius: 16px;
    padding: 24px;
}

.pillar-section > div > div > img {
    max-width: 64px;
}

